.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper__full .photo {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper__null {
  display: none;
}
.photo {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(33, 37, 38, 0.05)
}
.info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  text-transform: uppercase;
  transition: 200ms ease-in all;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  padding-top: 9px;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
} 
@media(max-width: 599px) {
  .info__wrapper {
    gap: 11px;
    padding-bottom: 22px;
  }
  .title {
    font-size: 11px;
    line-height: 14px;
  }
  .description {
    font-size: 11px;
    line-height: 14px;
  } 
}

