.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 18px;
  row-gap: 48px;
  height: fit-content;
  padding: 16px 24px 72px 24px;
}
@media (max-width: 599px) {
  .container {
    padding: 16px 16px 48px 16px;
    column-gap: 12px;
    row-gap: 33.5px;
  }
}
@media (max-width:1600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .container .wrapper:nth-child(7), .container .wrapper:nth-child(8) {
    display: inherit;
  }
  
}
@media (max-width:1100px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:599px) {
  .container {
    grid-template-columns: 1fr;
  }
}