/* General Styles */

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding: 48px 24px 32px 24px;
}
.wrapper__client {
  padding: 32px 24px 48px 24px;
  gap: 0px;
}
@media (max-width: 599px) {
  .wrapper {
    padding: 48px 16px 32px 16px;
  }
  .wrapper__client {
    padding: 32px 16px 48px 16px;
  }
}

.wrapper__blocks, .wrapper__last {
  padding-bottom: 72px;
}


.title {
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--black);
  text-transform: uppercase;
  padding: 0 0 14px;
  border-bottom: 1px solid var(--black);
}

.description,
.description__client,
.description__first {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02rem;
  line-height: 145%;
  max-width: 600px;
  padding-right: 16px;
}

.description__first {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
}

/* Description Blocks */

.descriptionBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}

.descriptionBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titleSpan {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 11px;
}
.spacer {
  height: 5px;
}
.descriptionSpan {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02rem;
  line-height: 125%;
  max-width: 600px;
  padding-right: 16px;
}

/* Staff Styles */

.staff__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.staff__wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Gallery Styles */

.gallery__wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  width: 100%;
  gap: 18px;
  height: fit-content;
}

@media (max-width: 599px) {
  .gallery__wrapper {
    gap: 12px;
  }
}

@media (max-width: 1600px) {
  .gallery__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
  .gallery__wrapper .wrapper:nth-child(7),
  .gallery__wrapper .wrapper:nth-child(8) {
    display: inherit;
  }
}

@media (max-width: 1100px) {
  .gallery__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 599px) {
  .gallery__wrapper {
    grid-template-columns: 1fr;
  }
}

.photo {
  width: 100%;
  aspect-ratio: 5 / 5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.client__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  column-gap: 18px;
  row-gap: 48px;
  height: fit-content;
  padding: 48px 0px 72px 0px;
}
@media (max-width: 599px) {
  .client__list {
    padding: 48px 0px 72px 0px;
    column-gap: 12px;
    row-gap: 33.5px;
  }
}
@media (max-width:1600px) {
  .client__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .client__list .wrapper:nth-child(7), .client__list .wrapper:nth-child(8) {
    display: inherit;
  }
}
@media (max-width:1100px) {
  .client__list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:599px) {
  .client__list {
    grid-template-columns: 1fr;
  }
}