.wrapper {
  padding: 56px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 16px;
  max-width: 700px;
}
@media (max-width:599px) {
  .wrapper {
    padding: 56px 16px 16px 16px;
  }
}
.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  text-transform: uppercase;
  padding: 0px 0px 12px 0px;
  border-bottom: 1px solid var(--black);
  width: 100%;
}
.description {
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
}
@media (max-width:599px) {
  .description {

  }
  .description span {

  }
}
