.wrapper {
  padding: 16px 16px 16px 16px;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-weight: 400;
}

.header__wrapper {
  background-color: rgba(33, 37, 38, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--black);
  border-bottom: none;
  gap: 12px;
}
.wavesLogo__wrapper {
  height: 48px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--black);
}
.wavesLogo {
  height: 22px;
  width: auto;
}
.headerText {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  margin-top: 4px;
}
.bottom__wrapper {

  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 32px;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
}
.socials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 4px;
  min-width: 71px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  padding: 4.5px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: manual;
}
.tagger {
  grid-row: 1 / 3;
}
.not__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  text-transform: uppercase;
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  padding: 16px;
}
.bottomInfo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  border-top: 1px solid var(--black);
  width: 100%;
  padding: 16px;
}
.bonus__container {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  gap: 4px;
  display: flex;
  flex-direction: column;

}

@media (max-width: 434px) {
  .socials__container {
    grid-template-columns: 1fr;
  }
  .bottomInfo__wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 374px) {
  .wrapper {
    padding: 0px 0px;
  }
  .header__wrapper {
    border-left: none;
    border-right: none;
  }
  .bottom__wrapper {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}