.wrapper {
  padding: 48px 24px 24px 24px;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  font-weight: 400;
}
@media screen and (max-width: 599px) {
  .wrapper {
    padding: 48px 16px 16px 16px;
  }
}

.header__wrapper {
  background-color: rgba(33, 37, 38, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--black);
  border-bottom: none;
  gap: 12px;
}
.wavesLogo__wrapper {
  height: 48px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--black);
}
.wavesLogo {
  height: 22px;
  width: auto;
}
.headerText {
  font-size: 22px;
  letter-spacing: 0.09rem;
  line-height: 125%;
  font-weight: 700;
  color: var(--black);
  margin-top: 4px;
}
.bottom__wrapper {

  border: 1px solid var(--black);
  display: flex;
  flex-direction: column;
  gap: 32px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
}
.socials__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  min-width: 71px;
  max-width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.link {
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: var(--black);
  width: fit-content;
  transition: 400ms ease-out all;
  text-underline-offset: 3px;
}

.link:hover a {
  text-decoration: underline!important;
  text-underline-offset: 3px;
}
.link__bare:hover {
  text-decoration: underline!important;
  text-underline-offset: 3px;
}
.tagger {
  grid-row: 1 / 3;
}
.not__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  text-transform: uppercase;
  
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
  padding: 25.5px 16px;
  width: 100%;
  max-width: 100%;
}
.info__container .link:first-child a{
    word-break: break-all;
}
.bottomInfo__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  border-top: 1px solid var(--black);
  width: 100%;
  padding: 25.5px 16px;
}
.bonus__container {
  text-align: left;
  font-weight: 400;
  text-transform: uppercase;
  gap: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 125%;
  color: var(--black);
  text-transform: uppercase;
}

@media (max-width: 434px) {
  .socials__container {
    grid-template-columns: 1fr;
  }
  .bottomInfo__wrapper {
    grid-template-columns: 1fr 2fr;
  }
}
@media (max-width: 374px) {
  .wrapper {
    padding: 0px 0px;
  }
  .header__wrapper {
    border-left: none;
    border-right: none;
  }
  .bottom__wrapper {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}

