.wrapper {
  padding: 24px 16px;
  background-color: var(--white);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.header__wrapper {
  background-color: rgba(33, 37, 38, 0.05);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--black);
  border-bottom: none;
  gap: 12px;
}
.wavesLogo__wrapper {
  height: 48px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--black);
}
.wavesLogo {
  height: 22px;
  width: auto;
}
.headerText {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--black);
  margin-top: 4px;
}
.bottom__wrapper {
  padding: 16px;
  border: 1px solid var(--black);
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 13px;
  line-height: 19px;
  width: 100%;
}
.socials__container {
  display: flex;
  flex-direction: column;
  min-width: 71px;
}
.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: uppercase;
  padding: 4.5px 0px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: manual;
}
.not__link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  text-transform: uppercase;
}
.info__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}


@media (max-width: 374px) {
  .wrapper {
    padding: 0px 0px;
  }
  .header__wrapper {
    border-left: none;
    border-right: none;
  }
  .bottom__wrapper {
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
}