.clientList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
  flex-direction: column;
  width: 100%;
  padding: 0px 0px 96px 200px;
  gap: 24px;
  max-width: 1128px;
  margin-top: -8px;
}
@media (max-width:1439px) {
  .clientList {
    width: 100%;
    max-width: 100%;
    padding: 0px 200px 96px 200px;
  }
}
@media (max-width:1239px) {
  .clientList {
    display: flex;
    padding: 0px 64px 96px 100px;
  }
}
@media (max-width:899px) {
  .clientList {
    padding: 0px 24px 96px 24px;
  }
}
@media (max-width: 599px) {
  .clientList {
    padding: 0px 16px 96px 16px;
  }
}