
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  gap: 24px;
  position: relative;
  width: 100%;
  height: 60px;
  background: hsla(0, 0%, 100%, 0.93);
  backdrop-filter: blur(8px);
  position: fixed;
  top: 0px;
  transition: 200ms ease-out all;
  z-index: 800;
}
@media (max-width:599px) {
  .wrapper {
    padding: 12px 16px;
  }
}
.wrapper__pre {
  background: rgba(251, 249, 244, 0.0)!important;
  backdrop-filter: blur(0px)!important;
  transition: 200ms ease-in all;
}
.logo {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-weight: 800;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.09rem;
  color: var(--black);
  transition: 400ms ease-out all;
}
.logo__pre {
  color: var(--white)!important;
  transition: 200ms ease-in all;
}
.menu__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 517px) {
  .menu__wrapper {
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .menu__wrapper::-webkit-scrollbar {
    display: none;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--black);
  width: fit-content;
  wrap: nowrap;
  transition: 400ms ease-out all;
  text-underline-offset: 3px;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link__pre {
  color: var(--white)!important;
  transition: 200ms ease-in all;
}

.emailLink {
color: var(--black);
font-weight: 500;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.84px;
text-transform: uppercase;
white-space: nowrap;
height: 44px;
display: flex;
align-items: center;
justify-content: center;
}
.emailLink:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.emailLink__pre {
  color: var(--white)!important;
  transition: 200ms ease-in all;
  }

@media (max-width:905px) {
  .emailLink {
    display: none;
  }
}

