/* General Styles */

.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-transform: uppercase;
  transition: 200ms ease-in all;
}

.photo {
  aspect-ratio: 5 / 5;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.photo::before {
  content: "";
  display: block;
  padding-top: 100%; /* Maintains aspect ratio */
}

.overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  background-color: rgba(33, 37, 38);
  mix-blend-mode: multiply;
  z-index: 2;
}

.photo:hover .overlay {
  opacity: .13;
}

/* Info Styles */

.info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  padding-top: 13.5px;
  line-height: 125%;
  letter-spacing: 0.09rem;
}

/* Responsive Styles */

@media (max-width: 599px) {
  .photo:hover .overlay {
    opacity: 0;
  }
}
