.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.photo {
  aspect-ratio: 16 / 9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.title {
  font-family: BLMelodyMono;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
    letter-spacing: -0.03em;
}
.description {
  font-family: BLMelodyMono;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.03em;
  max-width: 550px;
}