.wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper__full .photo {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wrapper__null {
  display: none;
}
.photo {
  aspect-ratio: 1 / 1;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid rgba(33, 37, 38, 0.15)
}
.info__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  text-transform: uppercase;
  transition: 200ms ease-in all;
}
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-top: 9px;
}
.description {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

